db:
  development:
    adapter: mysql2
    encoding: utf8
    host: db
    username: root
    password: pw
    database: metaflop_development

  production:
    adapter: mysql2
    encoding: utf8
    host: db
    username: root
    password: pw
    database: metaflop_production
